@model ThetaOnlineStore.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="toast" data-delay="10000">
        <div class="toast-header">
            <strong class="mr-auto">Alert!</strong>
            <small>1 Record</small>
            <button class="ml-2 mb-1 close" aria-label="Close" type="button" data-dismiss="toast">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body">
            Record is Succeffully Deleted
        </div>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <input asp-for="LongDescription" class="form-control" />
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentStock" class="control-label"></label>
                <input asp-for="CurrentStock" class="form-control" />
                <span asp-validation-for="CurrentStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice" class="control-label"></label>
                <input asp-for="CostPrice" class="form-control" />
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label"></label>
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <div class="radio form-control icheck-primary bg-light">
                    <label>
                        <input type="radio" value="Active" asp-for="Status" checked name="iCheck"> Active
                    </label>

                    <label>
                        <input type="radio" value="InActive" asp-for="Status" name="iCheck"> InActive
                    </label>
                </div>
                @*<select asp-for="Status" class="form-control">
                        <option value="Active">Active</option>
                        <option value="InActive">InActive</option>
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>*@
            </div>

            <div class="form-group">
                <label asp-for="OpeningStock" class="control-label"></label>
                <input asp-for="OpeningStock" class="form-control" />
                <span asp-validation-for="OpeningStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningDate" class="control-label"></label>
                <input asp-for="OpeningDate" type="text" class="form-control" />
                <span asp-validation-for="OpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductFeatures" class="control-label"></label>
                <input asp-for="ProductFeatures" class="form-control" />
                <span asp-validation-for="ProductFeatures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="submit" value="Add" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn btn-success btn-sm"><i class="fas fa-search"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.js"></script>
<script src="https://github.com/fronteed/icheck/blob/1.x/icheck.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css" />
<script>
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal',
            increaseArea: '20%' // optional
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red',
            increaseArea: '20%' // optional
        });
    });
</script>
@section Scripts{

    <script>
        $(function () {

            $("#OpeningDate").datepicker();
            $('.toast').toast("show");
            
            
          
  

        });
    </script>
}   