@model ThetaOnlineStore.Models.Product


<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <input asp-for="LongDescription" class="form-control" />
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentStock" class="control-label"></label>
                <input asp-for="CurrentStock" class="form-control" />
                <span asp-validation-for="CurrentStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPrice" class="control-label"></label>
                <input asp-for="CostPrice" class="form-control" />
                <span asp-validation-for="CostPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalePrice" class="control-label"></label>
                <input asp-for="SalePrice" class="form-control" />
                <span asp-validation-for="SalePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Images" class="control-label"></label>
                <input asp-for="Images" class="form-control" />
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <input asp-for="ProductCode" class="form-control" />
                <span asp-validation-for="ProductCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningStock" class="control-label"></label>
                <input asp-for="OpeningStock" class="form-control" />
                <span asp-validation-for="OpeningStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningDate" class="control-label"></label>
                <input asp-for="OpeningDate" type="text" class="form-control" />
                <span asp-validation-for="OpeningDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductFeatures" class="control-label"></label>
                <input asp-for="ProductFeatures" class="form-control" />
                <span asp-validation-for="ProductFeatures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a> <input type="submit" value="update" class="btn btn-primary btn-sm" /></a>
                <a href="Details?id=@Model.Id" class="btn btn-success btn-sm"><i class="fas fa-eye"></i>Details</a>
                <a href="Index?id=@Model.Id" class="btn btn-danger btn-sm"><i class="fa fa-search" aria-hidden="true"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script>
        $(function () {
            $("#OpeningDate").datepicker();
            $("#OpeningDate").datepicker();
        });
    </script>
}


