@model ThetaOnlineStore.Models.SystemUser

@{
    Layout = "_LayoutAdmin";
}

<h1>Register yourself</h1>

@if (!string.IsNullOrEmpty(ViewBag.Message))

{<h4 class="alert alert-success"><i class="far fa-check-circle"></i> @ViewBag.Message</h4>}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="toast" data-delay="10000">
        <div class="toast-header">
            <strong class="mr-auto">Alert!</strong>
            <small>1 Record</small>
            <button class="ml-2 mb-1 close" aria-label="Close" type="button" data-dismiss="toast">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body">
            Record is Succeffully Registered
        </div>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="Active">Active</option>
                    <option value="InActive">InActive</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="Admin">Admin</option>
                    <option value="Staff">Admine</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" type="text" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" type="text" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary btn-sm" />
                <a asp-action="Alluser" class="btn btn-success btn-sm"><i class="fas fa-search"></i>Back to List</a>


            </div>
        </form>
    </div>

</div>

<div>

    @*<a asp-action="/SystemUsers/Alluser">Back to List</a>*@
</div>

@section Scripts{

    <script>
        $(function () {
            $("#CreateDate").datepicker();
            $("#ModifiedDate").datepicker();
             $('.toast').toast("show");
        });
    </script>
}   