@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To ThetaOnlineStore <a href="/Categories/Index">Purchase and see what type of items catgorywise and differnt Products</a>.</p>
</div>
