@model ThetaOnlineStore.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Category</h1>


@if (!string.IsNullOrEmpty(ViewBag.Message))

{<h4 class="alert alert-success"><i class="far fa-check-circle"></i> @ViewBag.Message</h4>}
@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="toast" data-delay="10000">
        <div class="toast-header">
            <strong class="mr-auto">Alert!</strong>
            <small>1 Record</small>
            <button class="ml-2 mb-1 close" aria-label="Close" type="button" data-dismiss="toast">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body">
            Record is Succeffully added
        </div>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="Active">Active</option>
                    <option value="InActive">InActive</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <input asp-for="LongDescription" class="form-control" />
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" id="CreateDate" type="text" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" type="text" id="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn btn-success btn-sm"><i class="fas fa-search"></i>Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts{

    <script>
        $(function () {
            $("#CreateDate").datepicker();
            $("#ModifiedDate").datepicker();
             $('.toast').toast("show");
        });
    </script>
}   